body {
    margin: 0;
    background: linear-gradient(to right, #000, #d3d3d3);
}
header {
    background: linear-gradient(to right, #000, #d3d3d3);
    height: 8vh;
    display: flex;
    align-items: center;
    box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.5);
}

.logo {
    height: 6vh;
    margin-left: 1vh;
}

.logo:hover {transform: scale(1.1);

}

.slogan {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin: 0 0.5vh;
    color: #fff;
    font-size: 3vh;
} 
.recargas {
    color: #fff;
    text-shadow: 0.2vh 0.2vh 0.2vh #159436;
}

.gift-cards {
    color: #fff;
    text-shadow: 0.2vh 0.2vh 0.2vh #ff000c;

} 

nav {
    font-family: 'Roboto', sans-serif;
    margin-left: auto;
    display: flex;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 1vh;
    margin-right: 0vh;
    font-size: 3vh;
    transition: all 0.3s ease;
}
nav a:hover {
    color: red;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: 0em;
}
li {
    padding: 5px;
    margin: 7px 0;
    text-align: center;
    transition: background-color 0.3s;
    border-radius: 5px;
    font-size: 15px;
    border: white solid 1px;
    margin-left: 1vh;
    background:#222;
}
.menu1 li {
    padding: 5px;
    margin: 7px 0;
    text-align: center;
    transition: background-color 0.3s;
    border-radius: 5px;
    font-size: 15px;
    border: white solid 1px;
    background:#222;
    margin-left: 1vh;
}
.option1 {
    padding: 0;
    margin-right: 0.5vh;
    margin-top: 1vh;
    font-family: bold;
    color: red;
}
 .optiona {
    margin-left: 1vh;
    color: #fff;
}
 .optionb {
    color: #fff;

}
.container {
    width: 65%;
    height: auto;
    background-color: #fff;
    margin-left: 17.5%;
    margin-right: 17.5%;
    margin-top:1vh;
}
.imagem {
    width: 100%; /* Faz a imagem ocupar 100% da largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    transition: transform 0.3s ease; /* Adiciona uma transição suave ao efeito de escala */
  }
  .desc {
    font-family: 'Roboto', sans-serif;
    border: solid black 1px;
    text-align: center;
    font-size: 1em;
    margin-top:1em;
    width:100%;
}

h1 {
    font-family: 'Roboto', sans-serif;
    background-color: #222;
    margin-top: 0vh;
    color:#fff;
}
p {
    font-size: 2.5vh;
    font-family: 'Roboto', sans-serif;
}
ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}
  
      li {
        background-color: #f0f0f0;
        padding: 5em;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
      }
.valores li {
    background-color: #222;
    padding: 1em;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    color:#fff;
}
.valores li:hover {
    color: black;
    background-color:#d3d3d3;
    cursor: pointer;
}
h5 {
    font-family: 'Roboto', sans-serif;
    background: #159436;
    padding: 2.5vh;
    font-size: 3vh;
    width: 60%;
    border-radius: 10px;
    color: white;
    margin-left: 17.5%;
    margin-right: 17.5%;
}
    h5:hover {
        color: black;
        background-color:#b4e9c2;
        cursor: pointer;
    }
    h6 {
        font-family: 'Roboto', sans-serif;
        color: red;
        font-size:2vh;
    }
@media (max-width: 768px) {
    header {
    background: linear-gradient(to right, #000, #d3d3d3);
    height: 13vh;
    display: flex;
    align-items: center;
}
.logo {
    height: 6vh;
    margin-left: 9vh;
    margin-top: -5.5vh;
}
.slogan {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #fff;
    font-size: 1.5vh;
    margin-top: 1.5vh;
    margin-left: -38vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .recargas {
    color: #fff;
    text-shadow: 0.2vh 0.2vh 0.2vh #159436;
    margin-left:0.5vh;
    margin-right:0.5vh;
}

.gift-cards {
    color: #fff;
    text-shadow: 0.2vh 0.2vh 0.2vh #ff000c;
    margin-left:0.5vh;
    margin-right:0.5vh;

}
    nav.menu1 {
        margin-top: 8.5vh;
        margin-left: -48vh;
        width: 100%;
    }
nav a {
    color: #fff;
    text-decoration: none;
    padding: 1vh;
    margin-right: 0.5vh;
    font-size: 1.8vh;
    transition: all 0.3s ease;
}

.option1 {
    color: red;
    border-radius: 2vh;
    margin-right: 0vh;
    margin-top: 1vh;
    font-family: bold;
    }
    
.option {
    color: red;
    border-radius: 2vh;
    padding: 0;
    margin-right: 1vh;
    margin-left: 0.5vh;
    margin-top: 1vh;
    font-family: bold;
}
    .optiona {
    margin-left: 2vh;
}

.container {
    width: 100%;
    height: auto;
    background-color: #fff;
    margin-left:0%;
    margin-right:0%;
}

}
