body {
    margin: 0;
    background: linear-gradient(to right, #000, #d3d3d3);
}

::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: #222;
    border-radius: 10px;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
header {
    background: linear-gradient(to right, #000, #d3d3d3);
    height: 8vh;
    display: flex;
    align-items: center;
}

.logo {
    height: 6vh;
    margin-left: 1vh;
}

.logo:hover {transform: scale(1.1);

}

.slogan {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin: 0 0.5vh;
    color: #fff;
    font-size: 3vh;
} 
.recargas {
    color: #fff;
    text-shadow: 0.2vh 0.2vh 0.2vh #159436;
}

.gift-cards {
    color: #fff;
    text-shadow: 0.2vh 0.2vh 0.2vh #ff000c;
} 

nav {
    font-family: 'Roboto', sans-serif;
    margin-left: auto;
    display: flex;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 1vh;
    margin-right: 0vh;
    font-size: 3vh;
    transition: all 0.3s ease;
}
nav a:hover {
    color: red;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: 0em;
}
li {
    padding: 5px;
    margin: 7px 0;
    text-align: center;
    transition: background-color 0.3s;
    border-radius: 5px;
    font-size: 15px;
    border: white solid 1px;
    margin-left: 1vh;
    background:#222;
}
.menu1 li {
    padding: 5px;
    margin: 7px 0;
    text-align: center;
    transition: background-color 0.3s;
    border-radius: 5px;
    font-size: 15px;
    border: white solid 1px;
    background:#222;
    margin-left: 1vh;
}
a.option1 {
    padding: 0;
    margin-right: 0.5vh;
    margin-top: 1vh;
    color: red;
}
 a.optiona {
    margin-left: 1vh;
    color: #fff;
}
 a.optionb {
    color: #fff;

}

    .option {
        color: red;
        border-radius: 2vh;
        padding: 1vh;
        margin-right: 1vh;
    }
    
.menu-item {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f1f1f1;
    text-align: center;
    
}

    .menu {
        font-family: 'Roboto', sans-serif;
        overflow-x: auto;
        scrollbar-width: thin;
        scrollbar-color: #525151 transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.5);
        font-size:1em;
        
    }
  
  .menu::-webkit-scrollbar {
    width: 1px;
  }
  .container-principal {
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente   
   (opcional) */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha quando a tela ficar pequena */
    margin-top:1.2em;
    overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: #525151 transparent;
  }
  
  .card {
    font-family: 'Roboto', sans-serif;
    width: 20%;
    background-color: #f0f0f0;
    margin: 10px;
    border-radius: 10px;
    border: ridge #222;
}
  
  .container-link {
    text-decoration: none;
    display: block;
    border: 1px solid #ccc8c8; /* Adiciona a borda sólida de 2px */
    border-radius: 10px; /* Arredonda as bordas */
  }
  .container-link img {
    /* Estilos para a imagem */
    width: 100%; /* Ajuste a largura conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 10px 10px 2px 3px;
  }
  
  .container-link p {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1.1em;
}
@media (max-width: 768px) {
    header {
    background: linear-gradient(to right, #000, #d3d3d3);
    height: 13vh;
    display: flex;
    align-items: center;
}
    .logo {
        height: 6vh;
        margin-left: 23%;
        margin-right: -14%;
        margin-top: -5.5vh;
        margin-bottom: 1vh;
    }
    .slogan {
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
        color: #fff;
        font-size: 1.5vh;
        margin-top: 1.5vh;
        margin-left: -71%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .recargas {
    color: #fff;
    text-shadow: 0.2vh 0.2vh 0.2vh #159436;
    margin-left: 0.5vh;
    margin-right: 0.5vh;
}

.gift-cards {
    color: #fff;
    text-shadow: 0.2vh 0.2vh 0.2vh #ff000c;
    margin-left: 0.5vh;
    margin-right: 0.5vh;
} 
    nav.menu1 {
        margin-top: 8.5vh;
        margin-left: -45vh;
        width: 100%;
    }
nav a {
    color: #fff;
    text-decoration: none;
    padding: 1vh;
    margin-right: 0.5vh;
    font-size: 1.8vh;
    transition: all 0.3s ease;
}

.option1 {
    color: red;
    border-radius: 2vh;
    margin-right: 0vh;
    margin-top: 1vh;
    }
    
.option {
    color: red;
    border-radius: 2vh;
    padding: 0;
    margin-right: 1vh;
    margin-left: 0.5vh;
    margin-top: 1vh;
}
    .optiona {
    margin-left: 2vh;
}
.menu {
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: #525151 transparent;
    display: flex;
    justify-content: normal;
    align-items: normal;
    box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.5);
    font-size: 1.5em;
    margin-top:0.5vh;
}
    .card {
    width: 43%;
    border: ridge #222;

  }
}
